@font-face {
    font-family: 'UAFSans OnBoard Stencil';
    src: url('fonts/UAFSans-OnBoardStencil.ttf') format('truetype');
}

body { font-family: Arial, sans-serif; margin: 0; padding: 0; }
header { background-color: #6a653a; padding: 10px 20px; }
nav ul { list-style: none; margin: 0; padding: 0; display: flex; }
nav li { margin-right: 20px; }
nav a { color: white; text-decoration: none; font-weight: bold; }
nav a:hover { text-decoration: underline; }
footer {
    background-color: #4d4634;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'UAFSans OnBoard Stencil', sans-serif;
}
main { padding: 20px; }
