.book {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

.book .page {
  width: 400px;
  height: 600px;
  background: #4d4634;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book .page:nth-child(even) {
  background: #6a653a;
}
