@font-face {
    font-family: 'UAFSans Regular';
    src: url('../fonts/UAFSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'UAFSans Medium';
    src: url('../fonts/UAFSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'UAFSans SemiBold';
    src: url('../fonts/UAFSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'UAFSans Bold';
    src: url('../fonts/UAFSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'UAFSans OnBoard Stencil';
    src: url('../fonts/UAFSans-OnBoardStencil.ttf') format('truetype');
}
@font-face {
    font-family: 'UAFSans OnBoard';
    src: url('../fonts/UAFSans-OnBoard.ttf') format('truetype');
}

@font-face {
    font-family: 'Volja Regular';
    src: url('../fonts/Volja-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Volja Black';
    src: url('../fonts/Volja-Black.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 20px;
}

.navbar {
    background-color: transparent;
    padding: 10px 20px;
    font-family: 'UAFSans SemiBold', sans-serif;
}


.navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
    margin-right: 20px;
}
.navbar-nav .nav-link:hover {
    text-decoration: underline;
}
footer {
    background-color: #4d4634;
    color: #ffe0a8;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'UAFSans OnBoard Stencil', sans-serif;
}
main { padding: 20px; }

header {
    background-image: url('../pic/MultiCam.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 20px;
}
