@font-face {
    font-family: 'UAFSans Regular';
    src: url('../fonts/UAFSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'UAFSans Medium';
    src: url('../fonts/UAFSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'UAFSans SemiBold';
    src: url('../fonts/UAFSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'UAFSans Bold';
    src: url('../fonts/UAFSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'UAFSans OnBoard Stencil';
    src: url('../fonts/UAFSans-OnBoardStencil.ttf') format('truetype');
}
@font-face {
    font-family: 'UAFSans OnBoard';
    src: url('../fonts/UAFSans-OnBoard.ttf') format('truetype');
}

@font-face {
    font-family: 'Volja Regular';
    src: url('../fonts/Volja-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Volja Black';
    src: url('../fonts/Volja-Black.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: transparent;
    /*padding: 10px 10px;*/
    font-family: 'UAFSans SemiBold', sans-serif;
}


.navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
    /*margin-right: 20px;*/
}
.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.text-justify {
    text-align: justify;
}

.btn-custom {
    background-color: #ffffff;  /* будь-який колір */
    color: #4d4634;
    border: 1px solid #4d4634;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'UAFSans Regular', sans-serif;
}
.btn-custom:hover {
    background-color: #ffffff;
    color: #F39200;
    border: 1px solid #F39200;
}

/* Ensure consistent image dimensions inside the carousel */
.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    width: 4rem;                /* однакова ширина та висота */
    height: 4rem;
    top: 50%;                   /* вирівняти по центру каруселі */
    transform: translateY(-50%);
    background-color: #4D4634;
    border-radius: 50%;
}
.carousel-control-prev {
    /* трохи відступити від лівого краю */
    left: 1rem;
}

.carousel-control-next {
    /* трохи відступити від правого краю */
    right: 1rem;
}

/*.carousel-control-prev-icon,*/
/*.carousel-control-next-icon {*/
/*    filter: invert(100%);*/
/*    width: 3rem;*/
/*    height: 3rem;*/
/*}*/

.image-card {
    margin: 5px 5px;
    position: relative;
    /*border-radius: 15px;*/
    overflow: hidden;
    box-shadow: 0 4px 6px rgb(77, 70, 52);
    display: inline-block;
    height: 450px;
    width: 300px;

}
.image-card img {

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-card .top-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #6A653A;
    color: #ffffff;
    text-align: center;
    font-family: 'UAFSans SemiBold', sans-serif;
    /*font-size: small;*/
    padding: 4px 0;
}
.image-card .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #6A653A;
    color: #ffffff;
    text-align: center;
    font-family: 'UAFSans SemiBold', sans-serif;
    /*font-size: small;*/
    padding: 4px 0;
}

div.scroll_list {
    overflow: auto;
    white-space: nowrap;
}

header {
    /*background-image: url('../pic/pixel_viknu2.jpg');*/
    background-color: #4D4634;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 0;
}

main { padding: 0; }

footer {
    background-color: #4d4634aa;
    background-image: url('../pic/footer_bg.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    text-align: center;
    padding: 20px 0;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    font-family: 'UAFSans OnBoard Stencil', sans-serif;
}




h1 {
    font-family: 'Volja Regular', sans-serif;
    color: white;
    /*background: url('../pic/pixel_viknu.png') no-repeat center;*/
    /*background-size: cover;*/
    /*background-clip: text;*/
    /*-webkit-background-clip: text;*/
    /*color: transparent;*/
}

h2 {
    font-family: 'UAFSans SemiBold', sans-serif;

}
h3 {
    font-family: 'UAFSans Medium', sans-serif;

}
h4 {
    font-family: 'UAFSans Regular', sans-serif;

}
h5 {
    font-family: 'UAFSans Regular', sans-serif;

}
h6 {
    font-family: 'UAFSans Regular', sans-serif;

}

p {
    font-family: 'UAFSans Regular', sans-serif;

}

ul:not(.navbar-nav) li {
    font-family: 'UAFSans Regular', sans-serif;
}

ol li {
    font-family: 'UAFSans Regular', sans-serif;
}

a{
    color: #F39200;
}

table,
th,
td{
    border: 1px solid #4d4634;
    color: #4d4634;
    padding: 10px;
}

/* Display PDF embed on desktop, link on mobile */
.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

@media (max-width: 767px) {
    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }
}

[data-bs-theme="marine"] {
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: #295D6A;
    --bs-body-bg-rgb: #295D6A;
    --bs-tertiary-bg: #{$blue-600};

    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");


    .dropdown-menu {
        --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
        --bs-dropdown-link-active-bg: #{$blue-700};
    }

    .btn-secondary {
        --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
        --bs-btn-border-color: #{rgba($white, .25)};
        --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
        --bs-btn-hover-border-color: #{rgba($white, .25)};
        --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
        --bs-btn-active-border-color: #{rgba($white, .5)};
        --bs-btn-focus-border-color: #{rgba($white, .5)};
        --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
    }
}

[data-bs-theme="sky"] {
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: #234390;
    --bs-body-bg-rgb: #234390;
    --bs-tertiary-bg: #{$blue-600};

    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

    .dropdown-menu {
        --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
        --bs-dropdown-link-active-bg: #{$blue-700};
    }

    .btn-secondary {
        --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
        --bs-btn-border-color: #{rgba($white, .25)};
        --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
        --bs-btn-hover-border-color: #{rgba($white, .25)};
        --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
        --bs-btn-active-border-color: #{rgba($white, .5)};
        --bs-btn-focus-border-color: #{rgba($white, .5)};
        --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
    }
}

[data-bs-theme="olive"] {
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: #444C35;
    --bs-body-bg-rgb: #444C35;
    --bs-tertiary-bg: #{$blue-600};

    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");


    .dropdown-menu {
        --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
        --bs-dropdown-link-active-bg: #{$blue-700};
    }

    .btn-secondary {
        --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
        --bs-btn-border-color: #{rgba($white, .25)};
        --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
        --bs-btn-hover-border-color: #{rgba($white, .25)};
        --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
        --bs-btn-active-border-color: #{rgba($white, .5)};
        --bs-btn-focus-border-color: #{rgba($white, .5)};
        --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
    }
}

[data-bs-theme="sso"] {
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: #737479;
    --bs-body-bg-rgb: #737479;
    --bs-tertiary-bg: #{$blue-600};


    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");


    .dropdown-menu {
        --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
        --bs-dropdown-link-active-bg: #{$blue-700};
    }

    .btn-secondary {
        --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
        --bs-btn-border-color: #{rgba($white, .25)};
        --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
        --bs-btn-hover-border-color: #{rgba($white, .25)};
        --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
        --bs-btn-active-border-color: #{rgba($white, .5)};
        --bs-btn-focus-border-color: #{rgba($white, .5)};
        --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
    }
}

[data-bs-theme="white-step"] {
    --bs-body-color: #6a653a;
    --bs-body-color-rgb: #6a653a;
    --bs-body-bg: #ffffff;
    --bs-body-bg-rgb: #ffffff;
    --bs-tertiary-bg: #{$blue-600};


    .dropdown-menu {
        --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
        --bs-dropdown-link-active-bg: #{$blue-700};
    }

    .btn-secondary {
        --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
        --bs-btn-border-color: #{rgba($white, .25)};
        --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
        --bs-btn-hover-border-color: #{rgba($white, .25)};
        --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
        --bs-btn-active-border-color: #{rgba($white, .5)};
        --bs-btn-focus-border-color: #{rgba($white, .5)};
        --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
    }
}