@font-face {
    font-family: 'UAFSans Regular';
    src: url('../fonts/UAFSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'UAFSans Medium';
    src: url('../fonts/UAFSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'UAFSans SemiBold';
    src: url('../fonts/UAFSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'UAFSans Bold';
    src: url('../fonts/UAFSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'UAFSans OnBoard Stencil';
    src: url('../fonts/UAFSans-OnBoardStencil.ttf') format('truetype');
}
@font-face {
    font-family: 'UAFSans OnBoard';
    src: url('../fonts/UAFSans-OnBoard.ttf') format('truetype');
}

@font-face {
    font-family: 'Volja Regular';
    src: url('../fonts/Volja-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Volja Black';
    src: url('../fonts/Volja-Black.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: transparent;
    /*padding: 10px 10px;*/
    font-family: 'UAFSans SemiBold', sans-serif;
}


.navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
    margin-right: 20px;
}
.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.text-justify {
    text-align: justify;
}

.btn-custom {
    background-color: #ffffff;  /* будь-який колір */
    color: #4d4634;
    border: 1px solid #4d4634;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'UAFSans Regular', sans-serif;
}
.btn-custom:hover {
    background-color: #ffffff;
    color: #F39200;
    border: 1px solid #F39200;
}

header {
    background-image: url('../pic/pixel_viknu.png');
    background-size: cover;
    background-repeat: no-repeat;
}

main { padding: 20px; }

footer {
    background-color: #4d4634;
    color: #ffe0a8;
    text-align: center;
    padding: 10px 0;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    font-family: 'UAFSans OnBoard Stencil', sans-serif;
}




h1 {
    font-family: 'UAFSans Bold', sans-serif;
    background: url('../pic/pixel_viknu.png') no-repeat center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}
h2 {
    font-family: 'UAFSans SemiBold', sans-serif;
    color: #444A38;
}
h3 {
    font-family: 'UAFSans Medium', sans-serif;
    color: #6A653A;
}
h4 {
    font-family: 'UAFSans Regular', sans-serif;
    color: #4D4634;
}
h5 {
    font-family: 'UAFSans Regular', sans-serif;
    color: #4D4634;
}
h6 {
    font-family: 'UAFSans Regular', sans-serif;
    color: #4D4634;
}

p {
    font-family: 'UAFSans Regular', sans-serif;
    color: #4D4634;
}

ul:not(.navbar-nav) li {
    font-family: 'UAFSans Regular', sans-serif;
    color: #4D4634;
}

ol li {
    font-family: 'UAFSans Regular', sans-serif;
    color: #4D4634;
}

a{
    color: #929000;
}

table,
th,
td{
    border: 1px solid #4d4634;
    color: #4d4634;
    padding: 10px;
}

/* Display PDF embed on desktop, link on mobile */
.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

@media (max-width: 767px) {
    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }
}


